*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "farsi";
    font-weight: 700;
    font-style: normal;
    src: url("./Assets/fonts/400-AzarMehr-FD-Regular.woff2") format("woff2");
}
body > canvas {
    display: none !important;
}
#threeCanvas {
    display: block !important;
    z-index: 90 !important;
    position: fixed;
    bottom: 0;
}
body,
a,
button {
    font-family: "farsi";
}
.spinWheel {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#spin_button {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    z-index: 50;
    /* position: fixed; */
    font-size: 30px;
    transition: all ease-in-out 0.2s;
    animation: heart 2s ease 5s infinite normal forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}
#spin_button img {
    width: 100px;
    height: 100px;
    z-index: 50;
}
#spin_button:hover {
    -webkit-box-shadow: -1px 10px 20px -4px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: -1px 10px 20px -4px rgba(0, 0, 0, 0.71);
    box-shadow: -1px 10px 20px -4px rgba(0, 0, 0, 0.71);
}
.bgPic {
    z-index: 20;
    max-width: 47rem;
    max-height: 47rem;
    object-fit: contain;
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 0.3rem;
}
.bgPic-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    position: fixed;
}
.spinButton {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    position: fixed;
}
@keyframes heart {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(1.09);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(1.02);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(1.13);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}
body {
    direction: rtl;
    /* background-color: #09071e; */
    /* background: radial-gradient(circle at center, #212f56 0%, #000000 100%);
    background-attachment: fixed; */
    background: url("./testbg3.jpg") center center fixed;
}

/* modal */
.modal {
    z-index: 100;
    height: 1px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.4s ease 0.4s, height 0.4s ease;
    width: 0;
    display: flex;
    align-items: end;
    justify-content: center;
}

.content {
    color: transparent;
    font-family: "farsi";
    font-size: 2em;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate3d(0, -50%, 0);
    transition: color 0.4s ease;
    width: 100%;
}

.modal.opened {
    height: 100%;
    width: 100%;
    transition: width 0.4s ease, height 0.4s ease 0.4s;
}
.modal.opened .content {
    color: #fff;
    transition: color 0.4s ease 0.4s;
}
/* try agian */
.tryAgainButton {
    margin-bottom: 50px;
    cursor: pointer;
    padding: 10px 80px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    text-align: center;
    white-space: nowrap;
    font-size: 32px;
    transition: all 0.2s ease-in-out;
    background-color: #35cd24;
    color: #fff;
    box-shadow: 0px 0px 10px 0px rgb(32, 31, 31);
}

.tryAgainButton:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 12px 1px rgb(32, 31, 31);
}

/* images */
.images {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 40;
}
.images > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.images > div > img {
    width: 20rem;
    z-index: 40;
}
.img1 {
    margin-left: 5rem;
    animation: shakeBottom 25s ease 0s infinite normal forwards;
}
.img2 {
    margin-right: 3rem;
    animation: shakeHoriz 20s ease 0s infinite normal forwards;
}
.img3 {
    margin-left: 1rem;
    animation: shakeVertical 20s ease 0s infinite normal forwards;
}
.img4 {
    animation: vibrate 6s ease 0s infinite normal forwards;
}
@keyframes shakeBottom {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}
@keyframes shakeHoriz {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}
@keyframes shakeVertical {
    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}
@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}
@media screen and (max-width: 680px) {
    .images > div {
        display: none;
    }
}
/* logo */
.logo-container {
    display: flex;
    justify-content: center;
    z-index: 110;
}
.logo {
    width: 8rem;
    position: fixed;
    bottom: 0;
    z-index: 80;
    margin-bottom: 1rem;
}
